@import '~styles/index.scss';

.section {
  & + & {
    margin-top: 24px;
  }
}

.label {
  display: flex;
  margin-bottom: 4px;
}

.select {
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
